@import url("menu.css");

.navbar--logo {
  display: none;
}

.circle-wrapper {
  display: none; 
}

.hero h1 {
  font-size: 7rem;
}

.scroll-arrow {
  display: none;
}

#projects {
  height: 200vh;
}

.grid-container {
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 4vh;
}

.flex-tile {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 2rem;
}

.tile7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-tile:nth-of-type(2n){
  display: none;
}

.flex-tile:nth-of-type(3n){
  display: none;
}

.text--body {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

#contact {
  height: 130vh;
}

.contact-links {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact-links ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-links ul li {
  -webkit-transform: scale(.8);
      -ms-transform: scale(.8);
          transform: scale(.8);
}

.contact-links ul li::after {
  display: none;
}