@import url("menu.css");

.navbar--logo {
  display: none;
}

.circle-wrapper {
  display: none; 
}

.hero h1 {
  font-size: 7rem;
}

.scroll-arrow {
  display: none;
}

#projects {
  height: 200vh;
}

.grid-container {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.tile-container {
  flex-direction: column;
}

.tile-container:last-of-type {
  display: none;
}

.flex-tile {
  flex-direction: row;
}

.flex-tile:not(:last-of-type) {
  margin-bottom: 1rem;
}

.text--body {
  flex: 3;
}

#contact {
  height: 130vh;
}

.contact-links {
  height: 100%;
  flex: 1;
}

.contact-links ul {
  align-items: center;
}

.contact-links ul li {
  transform: scale(.8);
}

.contact-links ul li::after {
  display: none;
}