html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  /* color schemes */
  /* http://www.paletton.com/#uid=63-0I0kmpByc4R3hOJ9r8v+uYqm */
  /* https://www.color-hex.com/color/94bce3 */
  --primary: rgb(65, 126, 184);
  --primary-dark: rgb(35, 101, 165);
  --primary-dark2: rgb(14, 76, 136);
  --primary-light: rgb(99, 153, 205);
  --primary-light2: rgb(148, 188, 227);
  --accent: rgb(237, 100, 124);
  --accent2: rgb(252, 154, 195);
  --offwhite: #f4f8fc;

  --animation-time: 400ms;

  --nav-height: 5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-size: 2rem;
  font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--clr-offwhite);
  overflow-x: hidden;
}

h3 {
  margin-bottom: 1em;
  font-size: 3rem;
}

ul {
  margin-bottom: 2rem;
  padding-left: 40px;
}

p {
  margin-bottom: 2rem;
  color: inherit;
  line-height: 1.5;
}

a:link,
a:visited {
  color: inherit;
}

/* =========== */
/* BG ELEMENTS */
/* =========== */
.img-bg--blue {
  background: url('https://gitmasi.com/assets/bg/blue-polygon-bg-3840x2160.png')
    no-repeat center center/cover;
}

.img-bg--pink {
  background: url('https://gitmasi.com/assets/bg/pink-polygon-bg-3840x2160.png')
    no-repeat center center/cover;
}

.img-bg {
  position: relative;
  z-index: -1;
  margin-top: -10vh;
  margin-bottom: -10vh;
  height: 70vh;
  width: 100vw;
  background-attachment: fixed;
  /* trying to hack hardware acceleration here */
  transform: translate3d(0, 0, 0);
}

.img-bg--hero {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
  height: 100%;
  width: 100%;
}

.img-bg__inner {
  height: 100%;
  width: 100%;
}

/* ============ */
/* HERO SECTION */
/* ============ */

.hero {
  position: relative;
  margin-bottom: -10%;
  height: 150vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--offwhite);
}

.hero__content {
  margin-top: -50vh;
}

.hero__heading {
  display: block;
  letter-spacing: 0.4rem;
  font-family: 'Staatliches', cursive;
  font-size: 10rem;
  font-weight: 400;
  text-shadow: -0.3rem 0.3rem 0 var(--primary-dark2);

  opacity: 0;
  animation: rotateInDownLeft var(--animation-time) ease-out
    calc(var(--animation-time) * 1.5) forwards;
}

.hero__subheading {
  font-size: 2.3rem;
  opacity: 0;
  animation: rotateInUpRight var(--animation-time) ease-out
    calc(var(--animation-time) * 1.5) forwards;
}

.scroll-arrow {
  position: absolute;
  bottom: 50vh;
  left: 50%;
  height: fit-content;

  opacity: 0;
  color: var(--offwhite);
  writing-mode: vertical-lr;
  animation: bounce 2s ease-in-out calc(var(--animation-time) * 3 + 240ms)
      infinite alternate,
    fadeIn var(--animation-time) ease-out
      calc(var(--animation-time) * 3 + 240ms) forwards;
}

/* ============ */
/* MAIN CONTENT */
/* ============ */

.content-section__wrapper {
  position: relative;
  width: 100%;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.3));
}

.content-section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--offwhite);
  clip-path: polygon(0 90%, 0 0, 100% 10%, 100% 100%);
}

.content-section--last {
  clip-path: polygon(0 100%, 0 0, 100% 10%, 100% 100%);
}

.content-section__heading {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 99;
  padding: 2rem 3rem;

  background: var(--offwhite);
  border-radius: 100px;
  box-shadow: -2px -2px 3px 1px rgba(255, 255, 255, 0.25),
    3px 3px 3px 1px rgba(0, 0, 0, 0.25);

  transform: translateX(-50%);
}

.call-out {
  color: var(--primary-dark2);
  font-family: 'Staatliches', cursive;
  font-size: 2.2rem;
  letter-spacing: 1.8px;
}

.call-out::first-letter {
  font-size: 5rem;
}

.connect__img-wrapper {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.connect__img-clear,
.connect__img-low-poly {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
}

.connect__img-low-poly {
  z-index: 99;
  opacity: 1;
  transition: opacity 300ms;
}

.connect__img-low-poly:hover {
  opacity: 0;
}

.max-width-800 {
  max-width: 800px;
}

/* =========== */
/* PAGE FOOTER */
/* =========== */

footer {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--offwhite);
  background: url('https://gitmasi.com/assets/bg/blue-polygon-bg-3840x2160.png')
    no-repeat center center/cover;
}

footer > *:not(:last-child) {
  margin-right: 1rem;
}

/* ========== */
/* ANIMATIONS */
/* ========== */

@keyframes rotateInDownLeft {
  from {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rotateInUpRight {
  from {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, -90deg);
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounce {
  from {
    color: var(--offwhite);
    transform: translateY(-2vh);
  }
  to {
    color: var(--primary-light2);
    transform: translateY(0);
  }
}
