body {
  overflow-x: hidden;
}

.hero--image-text-wrapper {
  flex-direction: column;
}

#about {
  max-width: 94%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.skills-grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#projects {
  padding: 1rem 0 1rem 1rem;
  border-radius: 0;
}

#contact {
  width: 94%;
  height: 115vh;
  padding: 1rem 0;
  flex-direction: column;
  align-items: stretch;
}

.contact-form,
.contact-links {
  height: initial;
  padding: .7rem;
}

.contact-form {
  border-radius: 5rem 0 0 0;
}

.form--item {
  padding: .7rem;
}

.contact-links {
  border-radius: 0 0 5rem 0;
  flex: 1;
}

.contact-links ul {
  flex-direction: row;
  align-items: center;
}

.contact-links ul li {
  transform: scale(.6);
}

.contact-links ul li:hover img {
  transform: scale(1);
}

.contact-links ul li::after {
  display: none;
}

.flex-tile {
  flex-direction: column;
}

.flex-tile > .img {
  flex: 1;
}

.text-wrapper {
  padding: .7rem;
}

.text--body {
  flex: 2;
}

.text--btn__link {
  margin-bottom: .4rem;
}

@media screen and (max-width: 550px) {

  .navbar--logo {
    display: none;
  }

  .circle-wrapper {
    display: none; 
  }

  .hero {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .hero h1 {
    font-size: 7rem;
  }

  .scroll-arrow {
    display: none;
  }

  .about--col2 {
    padding: 0;
  }

  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  #projects {
    height: 180vh;
  }

  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .tile-container {
    flex-direction: column;
  }

  .tile-container:last-of-type {
    display: none;
  }

  .flex-tile:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  .contact-links ul li img {
    margin: 0 auto;
  }
}