#display-area {
  position: relative;
  background: transparent;
  overflow: hidden;
}

.circle {
  position: absolute;
  top: -15vh;
  border-radius: 50%;
  
  animation: descend 8s ease-in forwards;
}

.cascade-text {
  position: absolute;
  top: -15vh;
  writing-mode: vertical-rl;
  font-size: 2rem;
  color: var(--clr-accent);
  cursor: default;
  
  animation: descend 8s ease-in forwards;
}

@keyframes descend {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(115vh);
  }
}