.jagged-parent {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: relative;
  height: 196vh;
  background: linear-gradient(to bottom, transparent, #4ac382);
}

.jagged-wrapper {
  height: 98vh;
  z-index: -1;
  background: linear-gradient(to bottom, var(--clr-accent) 90%, var(--clr-accent2));
  clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 85% 95%, 70% 85%, 60% 100%, 46% 88%, 40% 95%, 30% 85%, 20% 97%, 0% 78%);
  
}

.jagged {
  height: 96vh;
  z-index: 1;

  background: linear-gradient(to bottom, var(--clr-accent), var(--clr-accent2));
  clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 85% 95%, 70% 85%, 60% 100%, 46% 88%, 40% 95%, 30% 85%, 20% 97%, 0% 78%);
}