.burger-toggle-wrapper {
  position: fixed;
  top: .5rem;
  right: .5rem;
  padding: .5rem;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background: var(--clr-primary-dark2);
  transition: all 200ms;
}

.burger-toggle-wrapper:hover {
  background: var(--clr-primary-dark);
}

.toggler {
  position: absolute;
  width: calc(var(--nav-height) - 1rem);
  height: calc(var(--nav-height) - 1rem);
  z-index: 3;
  
  cursor: pointer;
  opacity: 0;
}

.hamburger {
  width: calc(var(--nav-height) - 1rem);
  height: calc(var(--nav-height) - 1rem);
  
  display: flex;
  justify-content: center;
  align-items: center;
   
  transition: all 400ms ease;
}

.hamburger-icon {
  position: relative;
  height: .5vh;
  width: 70%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  background: aliceblue;
  border-radius: 20rem;
  
  flex: none;
  
  transition: all 300ms ease;
}

.hamburger-icon::before,
.hamburger-icon::after {
  position: absolute;
  top: -1rem;
  content: "";
  width: 100%;
  height: 100%;
  
  background: aliceblue;
  border-radius: 20rem;
}

.hamburger-icon::after {
  top: 1rem;
}

.toggler:checked + .hamburger > .hamburger-icon {
  transform: rotate(135deg);
}

.toggler:checked + .hamburger > .hamburger-icon::before,
.toggler:checked + .hamburger > .hamburger-icon::after {
  top: 0;
  transform: rotate(90deg);
}

.toggler:checked:hover + .hamburger {
  transform: rotate(135deg);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transform: translateX(-100vw);
  transition: all 400ms;
}

.display {
  opacity: 1;
  transform: translateX(0);
}

.navbar {
  height: 100%;
  width: 100%;
  flex-direction: column;

  background: linear-gradient(to right, rgba(0,0,0,.7), var(--clr-offwhite));
}

.navbar--link-container {
  flex-direction: column;
  justify-content: center;
}

.navbar__link {
  margin-bottom: 1rem;
}